@page "/"
@using WebChat.Client.State
@using WebChat.Client.State.Topics
@inherits StoreSubscriberComponent
@inject IDispatcher Dispatcher

<ApprovalModal />

<div class="chat-layout">
    <TopicList />

    <div class="chat-container">
        <MessageList />

        <ConnectionStatus />

        <div class="input-area">
            <ChatInput />
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new Initialize());
    }
}
