@inherits LayoutComponentBase
@inject MetricsHubEffect HubEffect

<div class="layout">
    <nav class="sidebar">
        <NavLink href="/" Match="NavLinkMatch.All" class="sidebar-icon" title="Overview">
            <span>&#9673;</span>
        </NavLink>
        <NavLink href="/tokens" class="sidebar-icon" title="Tokens">
            <span>$</span>
        </NavLink>
        <NavLink href="/tools" class="sidebar-icon" title="Tools">
            <span>&#9881;&#xFE0E;</span>
        </NavLink>
        <NavLink href="/memory" class="sidebar-icon" title="Memory">
            <span>&#9670;&#xFE0E;</span>
        </NavLink>
        <NavLink href="/errors" class="sidebar-icon" title="Errors">
            <span>&#9888;&#xFE0E;</span>
        </NavLink>
        <NavLink href="/schedules" class="sidebar-icon" title="Schedules">
            <span>&#9200;&#xFE0E;</span>
        </NavLink>
        <NavLink href="/latency" class="sidebar-icon" title="Latency">
            <span>&#9201;&#xFE0E;</span>
        </NavLink>
    </nav>
    <main class="content">
        @Body
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        try { await HubEffect.StartAsync(); }
        catch
        {
            // ignored
        }
    }
}
