@inherits LayoutComponentBase

<div class="layout">
    <nav class="sidebar">
        <NavLink href="/" Match="NavLinkMatch.All" class="sidebar-icon" title="Overview">
            <span>&#9673;</span>
        </NavLink>
        <NavLink href="/tokens" class="sidebar-icon" title="Tokens">
            <span>$</span>
        </NavLink>
        <NavLink href="/tools" class="sidebar-icon" title="Tools">
            <span>&#9881;&#xFE0E;</span>
        </NavLink>
        <NavLink href="/errors" class="sidebar-icon" title="Errors">
            <span>&#9888;&#xFE0E;</span>
        </NavLink>
        <NavLink href="/schedules" class="sidebar-icon" title="Schedules">
            <span>&#9200;&#xFE0E;</span>
        </NavLink>
    </nav>
    <main class="content">
        @Body
    </main>
</div>
