name: jackbot
services:
  redis:
    image: redis:7-alpine
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./volumes/redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - jackbot

  qbittorrent:
    image: qbittorrentofficial/qbittorrent-nox:5.1.2-2
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: qbittorrent
    ports:
      - "8001:8001"
      - "6881:6881/tcp"
      - "6881:6881/udp"
    volumes:
      - ./volumes/qbittorrent_config:/config
      - ${DATA_PATH:-./volumes/data}/downloads:/downloads
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - QBT_LEGAL_NOTICE=confirm
      - QBT_VERSION=5.1.2-2
      - QBT_TORRENTING_PORT=6881
      - QBT_WEBUI_PORT=8001
      - TZ=UTC
      - UMASK=002
    stop_grace_period: 30m
    restart: unless-stopped
    networks:
      - jackbot

  filebrowser:
    image: filebrowser/filebrowser:v2
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: filebrowser
    user: ${PUID:-1654}:${PGID:-1654}
    ports:
      - "8002:80"
    volumes:
      - ${DATA_PATH:-./volumes/data}:/srv
      - ./volumes/filebrowser_database:/database
      - ./volumes/filebrowser_config:/config
    restart: unless-stopped
    networks:
      - jackbot

  jackett:
    image: lscr.io/linuxserver/jackett:0.24.306
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "3"
    container_name: jackett
    ports:
      - "8003:9117"
    volumes:
      - ./volumes/jackett_config:/config
      - ./volumes/jackett_data/downloads:/downloads
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - TZ=UTC
      - UMASK=022
    restart: unless-stopped
    networks:
      - jackbot
#    depends_on:
#      - flaresolverr
        
#  flaresolverr:
#    image: ghcr.io/flaresolverr/flaresolverr:latest
  #    logging:
  #      options:
  #        max-size: "5m"
  #        max-file: "3"
#    container_name: flaresolverr
#    environment:
#      - LOG_LEVEL=info
#      - LOG_HTML=false
#      - CAPTCHA_SOLVER=none
#      - TZ=UTC
#    ports:
#      - "8191:8191"
#    networks:
#      - jackbot
#    restart: unless-stopped

  plex:
    image: lscr.io/linuxserver/plex:1.42.1
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: plex
    network_mode: host
    devices:
      - dev/dri:/dev/dri
    volumes:
      - ./volumes/plex_config:/config
      - ${DATA_PATH:-./volumes/data}:/media
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - TZ=UTC
      - VERSION=docker
    restart: unless-stopped
    
  mcp-library:
    image: mcp-library:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-library
    ports:
      - "6001:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerLibrary/Dockerfile
    user: ${PUID:-1654}:${PGID:-1654}
    volumes:
      - ${DATA_PATH:-./volumes/data}/downloads:/downloads
      - ${DATA_PATH:-./volumes/data}:/media
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot
    depends_on:
      - qbittorrent
      - jackett

  mcp-text:
    image: mcp-text:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-text
    ports:
      - "6002:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerText/Dockerfile
    user: ${PUID:-1654}:${PGID:-1654}
    volumes:
      - ${VAULT_PATH:-./volumes/vault}:/vault
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot

  mcp-websearch:
    image: mcp-websearch:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-websearch
    ports:
      - "6003:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerWebSearch/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot
        
  jack:
    image: agent:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: jack
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: Agent/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NAME=Jack
      - MCPSERVERS__0__ENDPOINT=http://mcp-library:8080/sse
      - MCPSERVERS__1__ENDPOINT=http://mcp-websearch:8080/sse
      - WHITELISTPATTERNS__0=mcp:mcp-library:*
      - WHITELISTPATTERNS__1=mcp:mcp-websearch:*
      - TELEGRAM__BOTTOKEN=${JACK__TELEGRAM__BOTTOKEN}
    networks:
      - jackbot
    depends_on:
      - mcp-library
      - mcp-websearch
      - redis

  jonas:
    image: agent:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: jonas
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: Agent/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NAME=Jonas
      - MCPSERVERS__0__ENDPOINT=http://mcp-text:8080/sse
      - MCPSERVERS__1__ENDPOINT=http://mcp-websearch:8080/sse
      - WHITELISTPATTERNS__0=mcp:mcp-text:*
      - WHITELISTPATTERNS__1=mcp:mcp-websearch:*
      - TELEGRAM__BOTTOKEN=${JONAS__TELEGRAM__BOTTOKEN}
    networks:
      - jackbot
    depends_on:
      - mcp-text
      - mcp-websearch
      - redis

networks:
  jackbot: