name: jackbot
services:
  qbittorrent:
    image: qbittorrentofficial/qbittorrent-nox:5.1.2-2
    container_name: qbittorrent
    ports:
      - "8001:8001"
      - "6881:6881/tcp"
      - "6881:6881/udp"
    volumes:
      - ./volumes/qbittorrent_config:/config
      - ${DATA_PATH:-./volumes/data}/downloads:/downloads
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - QBT_LEGAL_NOTICE=confirm
      - QBT_VERSION=5.1.2-2
      - QBT_TORRENTING_PORT=6881
      - QBT_WEBUI_PORT=8001
      - TZ=UTC
      - UMASK=002
    stop_grace_period: 30m
    restart: unless-stopped
    networks:
      - jackbot

  filebrowser:
    image: filebrowser/filebrowser:v2
    container_name: filebrowser
    user: ${PUID:-1654}:${PGID:-1654}
    ports:
      - "8002:80"
    volumes:
      - ${DATA_PATH:-./volumes/data}:/srv
      - ./volumes/filebrowser_database:/database
      - ./volumes/filebrowser_config:/config
    restart: unless-stopped
    networks:
      - jackbot

  jackett:
    image: lscr.io/linuxserver/jackett:0.24.306
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
    container_name: jackett
    ports:
      - "8003:9117"
    volumes:
      - ./volumes/jackett_config:/config
      - ./volumes/jackett_data/downloads:/downloads
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - TZ=UTC
      - UMASK=022
    restart: unless-stopped
    networks:
      - jackbot
#    depends_on:
#      - flaresolverr
        
#  flaresolverr:
#    image: ghcr.io/flaresolverr/flaresolverr:latest
#    container_name: flaresolverr
#    environment:
#      - LOG_LEVEL=info
#      - LOG_HTML=false
#      - CAPTCHA_SOLVER=none
#      - TZ=UTC
#    ports:
#      - "8191:8191"
#    networks:
#      - jackbot
#    restart: unless-stopped

  plex:
    image: lscr.io/linuxserver/plex:1.42.1
    container_name: plex
    network_mode: host
    devices:
      - dev/dri:/dev/dri
    volumes:
      - ./volumes/plex_config:/config
      - ${DATA_PATH:-./volumes/data}:/media
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - TZ=UTC
      - VERSION=docker
    restart: unless-stopped
    
  mcp-download:
    image: mcp-download:latest
    container_name: mcp-download
    ports:
      - "6001:8080"
    build:
      context: ${JACK_REPOSITORY_PATH}
      dockerfile: McpServerDownload/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot
    depends_on:
      - qbittorrent
      - jackett
  
  mcp-organize:
    image: mcp-organize:latest
    container_name: mcp-organize
    ports:
      - "6002:8080"
    build:
      context: ${JACK_REPOSITORY_PATH}
      dockerfile: McpServerOrganize/Dockerfile
    user: ${PUID:-1654}:${PGID:-1654}
    volumes:
      - ${DATA_PATH:-./volumes/data}/downloads:/downloads
      - ${DATA_PATH:-./volumes/data}:/media
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot
        
  jack:
    image: jack:latest
    container_name: jack
    build:
      context: ${JACK_REPOSITORY_PATH}
      dockerfile: Jack/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot
    depends_on:
      - mcp-download
      - mcp-organize

networks:
  jackbot:
