name: jackbot
services:
  redis:
    image: redis/redis-stack-server:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./volumes/redis_data:/data
    restart: unless-stopped
    networks:
      - jackbot

  qbittorrent:
    image: qbittorrentofficial/qbittorrent-nox:5.1.2-2
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: qbittorrent
    ports:
      - "8001:8001"
      - "6881:6881/tcp"
      - "6881:6881/udp"
    volumes:
      - ./volumes/qbittorrent_config:/config
      - ${DATA_PATH:-./volumes/data}/downloads:/downloads
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - QBT_LEGAL_NOTICE=confirm
      - QBT_VERSION=5.1.2-2
      - QBT_TORRENTING_PORT=6881
      - QBT_WEBUI_PORT=8001
      - TZ=UTC
      - UMASK=002
    stop_grace_period: 30m
    restart: unless-stopped
    networks:
      - jackbot

  filebrowser:
    image: filebrowser/filebrowser:v2
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: filebrowser
    user: ${PUID:-1654}:${PGID:-1654}
    ports:
      - "8002:80"
    volumes:
      - ${DATA_PATH:-./volumes/data}:/srv
      - ./volumes/filebrowser_database:/database
      - ./volumes/filebrowser_config:/config
    restart: unless-stopped
    networks:
      - jackbot

  jackett:
    image: lscr.io/linuxserver/jackett:0.24.306
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "3"
    container_name: jackett
    ports:
      - "8003:9117"
    volumes:
      - ./volumes/jackett_config:/config
      - ./volumes/jackett_data/downloads:/downloads
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - TZ=UTC
      - UMASK=022
    restart: unless-stopped
    networks:
      - jackbot
#    depends_on:
#      - flaresolverr
        
#  flaresolverr:
#    image: ghcr.io/flaresolverr/flaresolverr:latest
  #    logging:
  #      options:
  #        max-size: "5m"
  #        max-file: "3"
#    container_name: flaresolverr
#    environment:
#      - LOG_LEVEL=info
#      - LOG_HTML=false
#      - CAPTCHA_SOLVER=none
#      - TZ=UTC
#    ports:
#      - "8191:8191"
#    networks:
#      - jackbot
#    restart: unless-stopped

  plex:
    image: lscr.io/linuxserver/plex:1.42.1
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: plex
    network_mode: host
    devices:
      - dev/dri:/dev/dri
    volumes:
      - ./volumes/plex_config:/config
      - ${DATA_PATH:-./volumes/data}:/media
    environment:
      - PUID=${PUID:-1654}
      - PGID=${PGID:-1654}
      - TZ=UTC
      - VERSION=docker
    restart: unless-stopped
    
  mcp-library:
    image: mcp-library:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-library
    ports:
      - "6001:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerLibrary/Dockerfile
      cache_from:
        - mcp-library:latest
    user: ${PUID:-1654}:${PGID:-1654}
    volumes:
      - ${DATA_PATH:-./volumes/data}/downloads:/downloads
      - ${DATA_PATH:-./volumes/data}:/media
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot
    depends_on:
      - qbittorrent
      - jackett

  mcp-text:
    image: mcp-text:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-text
    ports:
      - "6002:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerText/Dockerfile
      cache_from:
        - mcp-text:latest
    user: ${PUID:-1654}:${PGID:-1654}
    volumes:
      - ${VAULT_PATH:-./volumes/vault}:/vault
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot

  mcp-websearch:
    image: mcp-websearch:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-websearch
    ports:
      - "6003:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerWebSearch/Dockerfile
      cache_from:
        - mcp-websearch:latest
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot

  mcp-memory:
    image: mcp-memory:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-memory
    ports:
      - "6004:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerMemory/Dockerfile
      cache_from:
        - mcp-memory:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - REDISCONNECTIONSTRING=redis:6379
    networks:
      - jackbot
    depends_on:
      - redis

  mcp-idealista:
    image: mcp-idealista:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: mcp-idealista
    ports:
      - "6005:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: McpServerIdealista/Dockerfile
      cache_from:
        - mcp-idealista:latest
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - jackbot

  agent:
    image: agent:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: agent
    ports:
      - "5000:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: Agent/Dockerfile
      cache_from:
        - agent:latest
    command: [ "--chat", "Web", "--reasoning" ]
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - ALLOWEDDDNSHOST=${ALLOWEDDDNSHOST}
      - SERVICEBUS__CONNECTIONSTRING=${SERVICEBUS__CONNECTIONSTRING}
    networks:
      - jackbot
    depends_on:
      - mcp-library
      - mcp-text
      - mcp-websearch
      - mcp-memory
      - mcp-idealista
      - redis

  webui:
    image: webui:latest
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: webui
    ports:
      - "5001:8080"
    build:
      context: ${REPOSITORY_PATH}
      dockerfile: WebChat/Dockerfile
      cache_from:
        - webui:latest
    env_file:
      - .env
    environment:
      - ALLOWEDDDNSHOST=${ALLOWEDDDNSHOST}
      - AGENTURL=${AGENTURL:-http://agent:8080}
      - USERS__0__ID=${USERS__0__ID:-Alice}
      - USERS__0__AVATARURL=${USERS__0__AVATARURL:-avatars/kakera.png}
      - USERS__1__ID=${USERS__1__ID:-Bob}
      - USERS__1__AVATARURL=${USERS__1__AVATARURL:-avatars/green.png}
    restart: unless-stopped
    networks:
      - jackbot
    depends_on:
      - agent

  caddy:
    build:
      context: ./caddy
    logging:
      options:
        max-size: "5m"
        max-file: "3"
    container_name: caddy
    ports:
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./volumes/caddy_data:/data
      - ./volumes/caddy_config:/config
    environment:
      - CF_API_TOKEN=${CF_API_TOKEN}
    restart: unless-stopped
    networks:
      - jackbot
    depends_on:
      - webui
      - agent

networks:
  jackbot: